.inputTextField {
  min-height: 32px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  outline: none;
  box-sizing: border-box;
  padding-left: 8px;
  font-size: 16px;
  color: var(--search-placeholder, #686f7a);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.inputTextField:focus {
  border-bottom: 1px solid var(--border-bottom-focus, #0b6d0b);
}

.inputTextField::placeholder {
  color: var(--search-placeholder, #686f7a);
}

.fieldError {
  display: block;
  color: #b70000;
}

@media (min-width: 600px) {
  .inputTextField {
    width: 400px;
  }
}